extends ../includes/base

block config
  - pageType = 'news'
  - pageKey = 'tomita-essence-videos'

block mainContent
  p
    | Tomita Sensei heeft een in een reeks video's over de essentie van Aikido. Een belangrijke bron van informatie die de basisprincipes van onze school samenvat. Je kan ze bekijken op het YouTube-kanaal van onze school.

  .video-playlist
    each val, index in VIDEOS
      div
        a(
          href=`https://www.youtube.com/watch?v=${VIDEOS[index].key}&ab_channel=BanSenJukuAikido`
          target='_blank'
          )
          .image(style=`background-image: url(/assets/videos/essence_${index + 1}.webp)`)
          .title #{index + 1} - #{VIDEOS[index].title}